
@{
    ViewBag.Title = "AddCourse";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h2>AddCourse</h2>


@using (Html.BeginForm())
{
    <div class="form-group">
        <div>
            <label for="name">Name</label>
            <input type="text" class="form-control" name="Name" id="name" />
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" class="form-control" name="Description" id="description" />
        </div>
        
        <div>
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" name="StartDate" id="startDate"/>
        </div>
        <div>
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" name="EndDate" id="endDate" />
        </div>
        <br/>
        <input type="submit" class="btn btn-success" value="Add course"/>

    </div>
}